*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Clases Especiales */
.borde{
	border: 1px solid gray;
}
.color-negro{
	background: #000;
}
.color-gris-oscuro{
	background: #777;
}
.color-gris-claro{
	background: #aaa;
}
.color-blanco{
	background: #fff;
}
/* Contenedor */
.contenedor{
	width: 95%;
	margin: auto;
	max-width: 1280px;
	display: flex;
	flex-flow: column wrap;
}
/* Titulos */
.titulo{	
	height: 70px;
}
/* Navegador */
nav{
	height: 50px;
	display: flex;
	flex-flow: row wrap;	
}
/* logo */
.logo{
	flex: 0 0 20%;
}
/* menu */
.menu{
	flex: 0 0 65%;
}
/* ingreso */
.ingreso{
	flex: 0 0 15%;
}
/* Encabezado y secciones */
header, section{
	height: 700px;
}
/* Encabezado */
header{}
/* Secciones */
section{
	display: flex;
}
/* Sección Portafolio */
.portafolio{
	flex-flow: row wrap;
}
.port-col{
	flex: 1 0 0;
}
/* Sección Nosotros */
.nosotros{
	display: flex;
	flex-flow: column wrap;
}
.nos-fila{
	flex-grow: 1;
	display: flex;
	flex-flow: row wrap;
}
.nos-col-ext{
	flex: 2 0 0;
}
.nos-col-cnt{
	flex: 1 0 0;
}
/* Sección Contáctenos */
.contactenos{
	display: flex;
	flex-flow: row wrap;
}
/* Pie de Página */
.cont-col{
	flex-grow: 1;
	display: flex;
	flex-flow: column wrap;
}
.cont-fila-arr{
	flex: 0 0 65%;
}
.cont-fila-abj{
	flex: 0 0 35%;
}
footer{
	height: 50px;
}