/* Escritorio y Portatil */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #ddd;
}
/* Clases especiales */
.borde{
	border: 1px solid #ccc;	
}
.color-negro{
	background: #000;
}
.color-gris-oscuro{
	background: #777;
}
.color-gris-claro{
	background: #aaa;
}
.color-blanco{
	background: #fff;
}
/* Contenedor */
.contenedor{
	max-width: 1280px;
	width: 95%;
	margin: auto;
}
/* Títulos */
.titulo{
	height: 70px;
	background: #343A40;
	display: flex;
	align-items: center;
	color: #FFF;
	padding: 10px;
}
.titulo h1{
	flex: 1;
	text-align: center;
}
.subtitulo, .ver{
	flex: 0 0 40px;	
}
.subtitulo{
	display: flex;
	justify-content: center;
	align-items: center;
}
.subtitulo h2{
	text-align: center;
}
.imagen{
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.imagen img{	
	max-width: 150px;
	min-width: 50px;
}
.parrafo{
	flex: 1;
	padding: 10px;
}
/* Navegador, Encabezado, 
Secciones y Pie de Página*/
nav, header, section, footer{
	display: flex;
	flex-flow: column wrap;
}
/* Navegador */
nav{	
	height: 50px;
	flex-flow: row wrap;
}
.logo{
	flex: 20%;
	height: 100%;
	background: #FFF;
	border-bottom: 1px solid #ccc;
	display: flex;
}
.logo img{
	width: 100%;	
}
.menu{
	flex: 65%;
	height: 100%;
	background: #EF8814;
}
.ingreso{
	flex: 15%;
	height: 100%;
	background: #343A40;
}
/* Encabezado y Secciones */
header, section{	
	min-height: 85vh;	
}
/* Encabezado */
header{
	background-image: url('../../assets/img/header.jpg');
	background-size: 100% 100%;
	background-attachment: fixed;
}
/* Portafolio */
.portafolio{
	flex-flow: row wrap;	
}
.port-col-izq,
.port-col-cnt,
.port-col-der{
	flex: 1;	
	display: flex;
	flex-flow: column wrap;	
	padding: 10px;
}
.portafolio .imagen{
	flex: 0 0 200px;
}
/* Nosotros */
.nos-fila-arr,
.nos-fila-cnt,
.nos-fila-abj{
	flex: 1;
	display: flex;
	flex-flow: row wrap;	
}
.nos-fila-arr .nos-col-izq .subtitulo,
.nos-fila-abj .nos-col-izq .subtitulo{
	justify-content: flex-end;
}	
.nos-fila-cnt .nos-col-der .subtitulo{
	justify-content: flex-start;
}
.nos-col-izq,
.nos-col-der{
	flex: 2;
	padding: 10px;
	display: flex;
	flex-flow: column wrap;
}
.nos-col-cnt{
	flex: 1;
	padding: 10px;
	display: flex;
	flex-flow: column wrap;
}
.nosotros .parrafo{
	flex: 1;	
}
/* Contáctenos */
.contactenos{
	flex-flow: row wrap;
}
.cont-col-izq,
.cont-col-der{
	flex: 1;
	display: flex;
	flex-flow: column wrap;
}
.cont-col-izq{	
	padding: 10px;
}
.cont-col-der{
	display: flex;	
}
.cont-fila-arr,
.cont-fila-abj{
	padding: 10px;
	display: flex;
}
.cont-fila-arr{
	flex: 65%;	
}
.cont-fila-abj{
	flex: 35%;
	display: flex;
	flex-flow: column wrap;
}
.contactenos form,
.contactenos iframe{
	flex: 1;
}
.contactenos .parrafo{
	flex: 2;
}
.contactenos .social-media{
	flex: 1;
}
/* Pie de página */
footer{
	height: 70px;
	background: #000;
	display: flex;
	padding: 10px;
}
footer .parrafo{
	flex: 1;
}

/* Responsive Design: 
Diseño Adaptativo */

/* Tabletas */
@media (max-width: 992px) {
	/* Contenedor */
	.contenedor{
		width: 100%;
	} 
	/* Navegador */
	nav{
		height: 150px;		
	}
	.logo{		
		height: 100px;
		flex: 100%;
	}
	.menu, .ingreso{
		height: 50px;		
	}
	.menu{
		flex: 80%;
	}
	.ingreso{
		flex: 20%;
	}	
	/* Encabezado */	
	header{		
		min-height: 70vh;		
		background-attachment: initial;
	}
	/* Encabezado y Secciones */
	section{		
		min-height: 750px;		
	}
	/* Portafolio */
	.portafolio{		
		height: 100%;
	}		
	.port-col-izq{
		flex: 100%;		
	}
	.port-col-cnt,
	.port-col-der{
		flex: 50%;
	}	
	/* Nosotros */
	.nosotros{
		height: 100%;
	}
	.nos-fila-arr .nos-col-der,
	.nos-fila-cnt .nos-col-izq,
	.nos-fila-abj .nos-col-der{
		display: none;
	}
	.nos-col-izq,
	.nos-col-der{
		flex: 65%;
	}
	.nos-col-cnt{
		flex: 35%;
		background: #FFF;
	}
	/* Contáctenos */
	.contactenos{
		flex-flow: column wrap;
	}	
}
/* Celulares */
@media (max-width: 768px) {	
	/* Navegador */
	nav{
		height: auto;
		flex-flow: column wrap;
	}
	.logo, .menu, .ingreso{
		height: 50px;
		flex: auto;
	}
	/* Encabezado */
	header{
		height: 30vh;
		min-height: 30vh;
		max-height: auto;
	}
	/* Portafolio */
	.portafolio{
		flex-flow: column wrap;
	}	
	.port-col-izq,
	.port-col-cnt,
	.port-col-der{		
		flex: auto;
	}
	/* Nosotros */
	.nosotros{
		height: 1500px;
	}		
	.nos-fila-arr,
	.nos-fila-cnt,
	.nos-fila-abj{
		flex-flow: column wrap;
	}
	.nos-col-cnt{
		/*flex: 0.5;*/
		height: 22px;
	}
	.nos-col-izq,
	.nos-col-cnt,
	.nos-col-der{
		flex: auto;
	}
	.nos-col-izq,
	.nos-col-der{
		order: 2;	
	}		
	.nos-col-cnt{
		order: 1;
	}.nos-fila-arr .nos-col-izq .subtitulo,
		.nos-fila-abj .nos-col-izq .subtitulo{
			justify-content: center;
		}	
		.nos-fila-cnt .nos-col-der .subtitulo{
			justify-content: center;
		}
	/* Contáctenos */
	.contactenos{
		height: 1250px;
	}
}