/* Fuentes: Roboto y Yanone*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
/* Escritorio y Portatil */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
html{
	scroll-behavior: smooth;
}
body{
	background: #ddd;
}
/* Clases especiales */
.borde{
	border: 1px solid #ccc;	
}
.color-negro{
	background: #000;
}
.color-gris-oscuro{
	background: #777;
}
.color-gris-claro{
	background: #aaa;
}
.color-blanco{
	background: #fff;
}
/* Tope: Navegación */
.tope{	
	position: relative;
	top: -49px;	
}
/* Títulos */
.titulo{
	min-height: 70px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	background: #343A40;
	color: #FFF;	
}
.titulo h1{
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
/* Subtítulos */
.subtitulo{
	flex: 0 0 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.subtitulo h2{
	flex: 1;
	display: flex;
	justify-content: center;
	text-align: center;
}
/* Imágenes */
.imagen{
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.imagen img{
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 150px;
	min-width: 50px;	
}
/* Párrafos */
.parrafo{
	flex: 1;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;	
	padding: 10px;
}
.parrafo p{
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	text-align: justify;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
/* Social Media */
.social-media{
	flex: 1;
	display: flex;
	flex-flow: row nowrap;
	padding: 10px;
}
.social-media div{
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5em;	
}
.social-media div a{
	text-decoration: none;
	color: #000;
}
.social-media div a:hover{	
	color: #FFF;
}

/* Enlace Ver */
.ver{
	flex: 0 0 50px;	
}
/* Contenedor */
.contenedor{
	max-width: 1280px;
	width: 95%;
	margin: auto;
}
/* Navegador, Encabezado, 
Secciones y Pie de Página*/
nav, header, section, footer{
	display: flex;
	flex-flow: column nowrap;
	background: #FFF;
	height: 100%;
}
/* Navegador */
nav{	
	flex-flow: row wrap;	
	height: 50px;
	position: sticky;
	top: 0;
	z-index: 100;
}
.logo{
	flex: 20%;
	height: 100%;
	background: #FFF;
	border-bottom: 1px solid #ccc;
	display: flex;
}
.logo img{
	width: 100%;	
}
.menu{
	flex: 65%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;	
	height: 100%;
	background: #EF8814;
}
.menu .m-home,
.menu .m-portafolio,
.menu .m-nosotros,
.menu .m-contactenos{
	flex: 0 0 18%;
	display: flex;
}
.menu a,
.ingreso a{
	flex: 1;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	height: 100%;
	padding: 10px;
}
.menu a:hover{
	background: rgba(0, 0, 0, 0.5);
	color: #EEE;
}
.ingreso a:hover{
	background: rgba(255, 255, 255, 0.8);
	color: #333;
}
.menu a{
	color: #343A40;
}
.ingreso{
	flex: 15%;
	display: flex;	
	height: 100%;	
	background: #000;
}
.ingreso .m-ingreso{
	flex: 1;
	display: flex;	
}
.ingreso a{	
	color: #DDD;	
}
/* Encabezado y Secciones */
header, section{	
	min-height: 85vh;	
}
/* Encabezado */
header{
	background-image: url('../../assets/img/header.jpg');
	background-size: 100% 100%;
	background-attachment: fixed;
}
/* Portafolio */
.portafolio{
	flex-flow: row wrap;	
}
.port-col-izq,
.port-col-cnt,
.port-col-der{
	flex: 1;	
	display: flex;
	flex-flow: column wrap;	
	padding: 10px;
}
.portafolio .imagen{
	flex: 0 0 200px;
}
/* Nosotros */
.nos-fila-arr,
.nos-fila-cnt,
.nos-fila-abj{
	flex: 1;
	display: flex;
	flex-flow: row wrap;	
}
.nos-col-izq,
.nos-col-cnt,
.nos-col-der{
	padding: 10px;
	display: flex;
	flex-flow: column wrap;
}
.nos-col-izq,
.nos-col-der{
	flex: 2;
}
.nos-col-cnt{
	flex: 1;	
}
/* Subtítulos y Párrafos */
.nos-col-izq .subtitulo h2,
.nos-col-izq .parrafo p{	
	justify-content: right;	
	text-align: right;
}
.nos-col-der .subtitulo h2,
.nos-col-der .parrafo p{
	justify-content: left;
	text-align: left;
}
/* Contáctenos */
.contactenos{
	flex-flow: row wrap;
}
.cont-col-izq,
.cont-col-der{
	flex: 1;
}
.cont-col-der{
	display: flex;
	flex-flow: column nowrap;
}
.cont-fila-arr{
	flex: 0 0 65%;
	display: flex;
}
.cont-fila-arr iframe{
	flex: 1;	
	border: 0;
}
.cont-fila-abj{
	flex: 0 0 35%;
	display: flex;
	flex-flow: column nowrap;	
}
.contactenos .parrafo{		
	flex: none;
	height: 60%;	
}
.contactenos .parrafo p{
	flex: none;
	text-align: center;
}
/* Pie de página */
footer{
	min-height: 70px;
	background: #000;	
	padding: 10px;	
}
footer .parrafo{
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #DDD;
}

/* Responsive Design: 
Diseño Adaptativo */

/* Tabletas */
@media (max-width: 992px) {
	/* Tope: Navegación */
	.tope{
		top: -149px;	
	}
	/* Contenedor */
	.contenedor{
		width: 100%;
	} 
	/* Navegador */
	nav{		
		height: 150px;
		width: 100%;
	}
	.logo{		
		height: 100px;
		flex: 100%;
	}
	.menu, .ingreso{
		height: 50px;		
	}
	.menu{
		flex: 80%;
		justify-content: center;
	}
	.ingreso{
		flex: 20%;
	}
	/* Encabezado */	
	header{
		min-height: 70vh;
		background-attachment: initial;
	}	
	/* Portafolio */			
	.port-col-izq{
		flex: 100%;		
	}
	.port-col-cnt,
	.port-col-der{
		flex: 50%;
	}
	/* Nosotros */	
	.nos-fila-arr .nos-col-der,
	.nos-fila-cnt .nos-col-izq,
	.nos-fila-abj .nos-col-der{
		display: none;
	}
	.nos-col-izq,
	.nos-col-der{
		flex: 65%;
	}
	.nos-col-cnt{
		flex: 35%;
		background: #FFF;
	}
	/* Contáctenos */
	.contactenos{
		height: 750px;
		flex-flow: column wrap;
	}	
	.cont-col-izq,
	.cont-col-der{
		flex: auto;
		height: 60%;
	}
	.cont-col-der{
		height: 40%;
	}
	.cont-col-der{
		flex-flow: row nowrap;
	}
	.cont-fila-arr{
		flex: 1;
	}
	.cont-fila-abj{
		flex: 1;
	}
}
/* Celulares */
@media (max-width: 768px) {		
	/* Navegador */
	nav{
		height: auto;
		flex-flow: column wrap;
	}
	.logo, .menu, .ingreso{
		height: 50px;
		flex: auto;
	}
	.menu .m-home,
	.menu .m-portafolio,
	.menu .m-nosotros,
	.menu .m-contactenos{
		flex: auto;		
		align-items: center;		
	}	
	/* Encabezado */
	header{
		height: 30vh;
		min-height: 30vh;
		max-height: auto;
	}
	/* Portafolio */
	.portafolio{
		flex-flow: column wrap;
	}	
	.port-col-izq,
	.port-col-cnt,
	.port-col-der{		
		flex: auto;
	}
	/* Nosotros */
	.nosotros{
		min-height: 1500px;
	}		
	.nos-fila-arr,
	.nos-fila-cnt,
	.nos-fila-abj{
		flex-flow: column wrap;
	}
	.nos-col-cnt{		
		height: 200px;
	}
	.nos-col-izq,
	.nos-col-cnt,
	.nos-col-der{
		flex: auto;
	}
	.nos-col-izq,
	.nos-col-der{
		order: 2;	
	}		
	.nos-col-cnt{
		order: 1;
	}
	.nos-fila-arr .nos-col-izq .subtitulo,
	.nos-fila-abj .nos-col-izq .subtitulo{
		justify-content: center;
	}	
	.nos-fila-cnt .nos-col-der .subtitulo{
		justify-content: center;
	}
	/* Subtítulos y Párrafos */
	.portafolio .parrafo p{		
		text-align: center;
	}
	.nos-col-izq .subtitulo h2,
	.nos-col-izq .parrafo p,	
	.nos-col-der .subtitulo h2,	
	.nos-col-der .parrafo p{	
		justify-content: center;	
		text-align: center;
	}
	/* Contáctenos */
	.contactenos{
		height: 850px;
	}
	.cont-col-izq,
	.cont-col-der{
		flex: auto;
		height: 55%;
	}	
	.cont-col-der{
		height: 45%;			
		flex-flow: column nowrap;
	}
	/* Social Media */
	.contactenos .social-media div{		
		font-size: 2em;
	}
		
}